.ui-form {
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.comment-header, .comment-body {
    display: flex;
    padding: 1.5rem;
    background-color: #fff5e6;
}

.comment-body {
    flex-direction: column;
    row-gap: 20px;
}

.comment-header .comment-button-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 20px;
    padding: 20px;
    border-radius: 10px;
    background: #fff7e5;
    border: 2px solid #f5d0a9;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.comment-header .comment-button-body .button-body {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.comment-body .comment-item {
    background: #fff1e1;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #f5c39b;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}

.comment-body .comment-item .header-top {
    margin-bottom: 10px;
    background: #ffedcc;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.comment-body .comment-item .header-top .f-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.comment-body .comment-item .header-top .f-left .f-circle {
    background-color: #ff7f50;
    font-size: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    color: #fff;
}

.header-top .f-left .f-circle .letter {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
}

#addComment {}

.line-block-form {
    display: flex;
    align-items: center;
    gap: 15px;
}

.comment-header .comment-button-body input,
.comment-header .comment-button-body textarea {
    padding: 12px;
    border: 1px solid #f5c39b;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    background: #fff8e1;
    color: #333;
}

.comment-header .comment-button-body input:focus,
.comment-header .comment-button-body textarea:focus {
    border-color: #ff7f50;
    outline: none;
    background: #fff;
}

.comment-header .comment-button-body button {
    background: #ff7f50;
    color: #fff;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.comment-header .comment-button-body button:hover {
    background: #ff6600;
}

.comments-wrapper {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.comments-wrapper[v-cloak] {
    display: none;
}

.comments-wrapper.is-visible {
    opacity: 1;
}

.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

.custom-preloader {
    text-align: center;
    margin-top: 100px;
    color: #ff7f50;
}

.child-item {
    margin-right: 100px!important;
}

i {
    margin: 10px;
}
