.ui-form {
    padding: 0;
}
.comment-header, .comment-body {
    display: flex;
    padding: 1rem;
}
.comment-body {
    flex-direction: column;
    row-gap: 20px;
}
.comment-header .comment-button-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 20px;
    padding: 16px;
    border-radius: 12px;
    background: #f0f2f4;
}
.comment-header .comment-button-body .button-body {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.comment-header .comment-button-body .link-comment {}

.comment-body .comment-item {
    background: #f7fbed;
    padding: 10px;
    border-radius: 10px;
}
.comment-body .comment-item .header-top {
    margin-bottom: 12px;
    background: #f8f9fa;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
.comment-body .comment-item .header-top .f-left {
    display: flex;
    align-items: center;
    gap: 12px;
}
.comment-body .comment-item .header-top .f-left .f-circle {
    background-color: #e0f2fe;
    font-size: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    min-height: 48px;
}
.header-top .f-left .f-circle .letter {
    color: #0169a3;
    cursor: default;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}
#addComment {

}
.line-block-form {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.comments-wrapper {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.comments-wrapper[v-cloak] {
    display: none;
}

.comments-wrapper.is-visible {
    opacity: 1;
}
