.vote-row {
    margin-bottom: 20px;
}
.date-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.vote-row .title {
    font-weight: 700;
    font-size: 16px;
}
#application .listing {
    margin: 10px 0;
    padding: 10px;
    border: #ccc solid 1px;
    border-radius: 10px;
    width: 90%;
}
.socnet-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    column-gap: 20px;
    color: #999;
}
.socnet-button i:hover {
    color: #605A5B;
    cursor: pointer;
}